# 需要事先创建网络 docker network create cloud-cook
# docker network ls

version: '3'
services:
  app-sample-consume:
    image: io.mysnippet/app-sample-consume:${IMAGE_VER}
    depends_on:
      - eureka-server
      - config-server
    ports:
      - 9002:9002
    env_file: .env
    entrypoint:
      - ./wait-for-it.sh
      - config-server:7766
      - --timeout=0
      - --strict
      - --
      - /cloud-assy-entrypoint.sh
      - /app-sample-consume.jar
      - --spring.profiles.active=${SPRING_PROFILES_ACTIVE}
  app-sample-produce:
    image: io.mysnippet/app-sample-produce:${IMAGE_VER}
    depends_on:
      - eureka-server
      - config-server
    ports:
      - 9003:9003
    env_file: .env
    entrypoint:
      - ./wait-for-it.sh
      - config-server:7766
      - --timeout=0
      - --strict
      - --
      - /cloud-assy-entrypoint.sh
      - /app-sample-produce.jar
      - --spring.profiles.active=${SPRING_PROFILES_ACTIVE}
networks:
  default:
    external:
      name: cloud-cook